@page
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Your Restaurant was not found</h1>
<a asp-page="./List" class="btn btn-primary">Show All Restaurants</a>
